<div class="row mt-5">
    <div class="m-auto">
      <div class="card card-body text-center">
        <h1 class="mb-3">
          <img src="/images/mail-icon-1.png" alt="icon" width="30%" />
        </h1>
        <h1>Verify your account</h1><br>
        <h4>Check the email "<%= email %>" for the verification link!</h4>
        <p class="mt-4">Back to <a href="/auth/login">Login</a> page</p>
      </div>
    </div>
  </div>