<div class="row mt-5">
    <div class="m-auto">
      <div class="card card-body text-center">
        <h1 class="mb-3">
          <img src="/images/mail-icon-complete.png" alt="icon" width="40%" />
        </h1>
        <h1>Verification Successful</h1><br>
        <h4>You can now return to the <a href="/auth/login">login</a> page to access your account!</h4>
      </div>
    </div>
  </div>