<div class="col-1-8">
    <% let i=0; let lowseed=names.length let highseed=1 while (i < names.length) { %>
        <ul class="matchup">
            <li><span class="seed">
                    <%= highseed %>
                </span>
                <%= names[i] %><span class="score"></span>
            </li>
            <li><span class="seed">
                    <%= lowseed %>
                </span>
                <%= names[i+1] %><span class="score"></span>
            </li>
        </ul>
        <% i++; i++; lowseed--; highseed++;} %>
</div>
<div class="col-1-8">
    <div class="round-two-top">
        <% i=0; while (i < names.length/2-1){ %>
            <ul class="matchup">
                <li><span class="seed">1</span> Bill<span class="score"></span></li>
                <li><span class="seed">4</span> Chris<span class="score"></span></li>
            </ul>
            <% i++ } %>
    </div>
</div>