<div class="container">
    <form action="/createtourney" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <input type="text" class="form-control" placeholder="Subtitle" name="subtitle">
      </div>
      <div class="form-group">
        <label for="headers">Headers</label>
        <input type="text" class="form-control" placeholder="Headers, separate by ',' no space" name="headers">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>