<h1><%= tournaments[0].title %></h1>
<br>
<table style="width: 750px;">
    <tr>
        <% for (event in tournaments[0].headers){ %>
            <th><%= tournaments[0].headers[event] %></th>
            <% } %>
    </tr>
    <% for (score in tournaments[0].scores) { %>
    <tr>
        <% for (item in tournaments[0].scores[score]) { %>
            <td><%= tournaments[0].scores[score][item] %></td>
    <% } %>
        </tr>
        <% } %>
</table>
<br>
<h4>Add Result</h4>
<form action="/addresult" method="POST">
    <input placeholder="Winner" name="winner">
    <input placeholder="Loser" name="loser">
    <button type="submit">Submit</button>
</form>