.dividetourney {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .tournamenta:hover {
    font-weight: bold;
  }
  .tournamenta:link {
    text-decoration: none;
  }
  #dbgrid {
      display: grid;
      grid-template-columns: auto auto;
  }